.services {
  position: relative;
  padding-top: 280px;
  background: rgba(255, 255, 255, 0.205);
  background-position: center;
  height: 100vh;
}

.services:before {
  position: absolute;
  background-image: url(../img/services-background.png);
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services__info {
  width: 40%;
}